<tbody>
  <tr class="spacer"></tr>
  <tr>
    <td> <%= link_to cart_item.title, inventory_item_path(cart_item.inventory_item_id) %> </td>
    <td> <%= cart_item.inventory_item.unit_cost %> </td>
    <td> <%= render partial: 'item_quantity_updater', locals: { cart_item: cart_item } %> </td>
  </tr>
</tbody>