<div class="container inventory-container">
  <div class="album text-muted">
    <h1 class='text-center'>Edit <%= @inventory_item.title %></h1>

    <%= render 'form', inventory_item: @inventory_item %>
  </div>
</div>

