<%= render 'shared/inventory_masthead' %>

<div class="album text-muted">
  <div class="container">
    <% if current_or_guest_user.type=='AdminUser'%>
      <%= link_to 'Add Item', new_inventory_item_path, class: 'nav-link' %>
    <% end %>
    <div class="row">
      <div>
        <%= render partial: 'inventory_item', collection: @inventory_items %>
      </div>
      <div class='pag-container'>
        <%= paginate @inventory_items%>
      </div>
    </div>
  </div>
</div>
