<div class="container inventory-container">
  <div class="album text-muted">
    <h1 class='text-center'>Create a new Piece of Jewelry</h1>

    <%= render 'form', inventory_item: @inventory_item %>
  </div>
</div>


