<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <% unless current_page?(inventory_items_path)%>
        <%= link_to 'Back to Inventory /', inventory_items_path %>
      <% end %>
      <a href="#">Back to top</a>
    </p>
    <p class='text-center'>
    <%= copyright_generator %>
    </p>
  </div>
</footer>