$theme-colors: ( "bootstrap": #563d7c, "simpleform": #00617f );
 @import "bootstrap/scss/bootstrap";

//  Links
a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}

.hide {
  display: none !important;
}

// Custom Default Button
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

// Base structure
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  color: #BE8073;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  font-family: 'Playfair Display', serif;
}

// Extra markup and styles for table-esque vertical and horizontal centering
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15rem;
}

// Padding for spacing
.inner {
  padding: 2rem;
}

// Header
.masthead {
  position: fixed;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
  margin-bottom: 1rem;
  border-bottom: .5px solid black;
  background-color: #BE8073;
  font-family: 'Playfair Display', serif;
  -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
          box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}

/* Nav links */


.navbar-title {
  position: fixed;
  font-size: 3em;
}

.nav-link {
  position: relative;
  font-weight: 500;
  color: #fff;
}

.dropdown-menu {
  background-color: #BE8073;

  .dropdown-item {
    text-align: center;
  }
  .dropdown-item:hover,
  .dropdown-item:focus {
    color: #0056b3;
    background-color: transparent;
  }
}

.cart-card {
  width: 300px;

  .title {
    color: #fff;
  }
}

.nav-link:hover,
.nav-link:focus {
  color: #0056b3;
  background-color: transparent;
}

.dropdown-menu {
  background-color: #BE8073;

  .dropdown-item {
    text-align: center;
  }
  .dropdown-item:hover,
  .dropdown-item:focus {
    color: #0056b3;
    background-color: transparent;
  }
}

.nav-masthead .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    margin-left: 3em;
    font-size: 3em;
  }
  .nav-masthead {
    float: right;
  }
}

// Cover
 .cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}

// Footer
.mastfoot {
  color: #fff;
  background-color: #BE8073;
  border-top: 1px solid black;
}

// Affix and Center
@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
}

// Custom Styles

.devise-button {
  margin: 0 1em 0 1em
}
.card-block {
  color: black;
  text-align: left;
  padding: 0 1em 0 1em;
}

.auth-links a {
  color: black;
}

.register-text {
  text-align: right;
}

.login > .card {
  width: 60%;
  margin: 0 auto;
  float: none;
}

.footer-container {
  padding-top: 10rem;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('background_image.jpg') repeat-x;
  background-size: contain;
  background-position: center;
}


.app-card-container {
  color: black;
  text-align: left;
  width: 55%;
  margin: 7rem auto auto auto;
}

.app-card-container > .card {
  padding: 25px;
}

.profile-img {
  border: 1px solid grey;
  max-width: 100%;
  max-height: 100%;
}

iframe {
  max-width: 100%;
  max-height: 100%;
}

.app-card-container a {
  color: blue;
}
