@import "bootstrap/scss/bootstrap";

.inventory-masthead {
  position: fixed;
  width: 100%;
  z-index: 9999;
  margin-bottom: 1rem;
  border-bottom: .5px solid;
  background-color: #BE8073;
  font-family: 'Playfair Display', serif;
  -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
          box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: #BE8073;
  text-align: center;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('background_image.jpg') repeat-x;
  background-size: contain;
  background-position: center;
}

/* Nav links */

.hide {
  display: none !important;
}

.navbar-title {
  position: fixed;
  font-size: 3em;
}

.nav-link {
  position: relative;
  font-weight: 500;
  color: #fff;

  .active {
    background-color: #dc3545;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: .6em;
    vertical-align:middle;
    margin-left:-10px;
    margin-bottom: -20px;
  }
}

.dropdown-menu {
  background-color: #BE8073;
  border: none;

  .dropdown-item {
    text-align: center;
  }
  .dropdown-item:hover,
  .dropdown-item:focus {
    color: #0056b3;
    background-color: transparent;
  }
}

.pag-container {
  margin: auto;
}

.scroller {
  background-color: transparent;
  width:  600px;
  height: 400px;
  text-align: center;
  margin: 0 auto;
  float: none;

  .slick-list {
    margin: 0 auto;
    width: 90%;

    .show-item {
      margin: auto;
    }

  }

  .slick-prev, .slick-next {
    z-index: 100;
    position: absolute;
  }

  .slick-prev {
    font-size: 30px;
    left: 10px;
  }
  
  .slick-next {
    font-size: 30px;
    right: -23px;
  }

  .show-image {
    padding: 30px;
    width: auto;
    height: 400px;
    min-width: 0px;
    display: block;
    margin: auto;
    text-align: center;
  }
}

.thumb-image {
  width:  350px;
  height: 200px;
  object-fit: cover;
}

.cart-image {
  width: 200px;
  height: 115px;
}

.cart-card {
  width: 300px;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;

  .card-header {
    background-color: #BE8073;
  }

  .title {
    color: #fff;
  }

  .list-group-item {
    text-align: left;
  }
}


.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 45rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgba(247, 247, 247, .75);
}

.card > img {
  margin-bottom: .75rem;
}

.inner {
  padding: 2rem;
}

// Footer
.mastfoot {
  color: #fff;
  background-color: #BE8073;
  border-top: 1px solid black;
  position: fixed;
  bottom: 0;
  width: 100%;

  p {
    font-family: 'Playfair Display', serif;
    text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  }
}


.inventory-container {
  padding: 5em 0;
  margin: 0 auto 0 auto;

  .table-responsive {
    margin-top: 3rem;
  }

  table {
    margin: 0 auto 1em auto;
    border-bottom: 1px solid #dee2e6;
  }

  .inventory-totals {
    display: block;
    clear: right;
    padding: 3px;
  }
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.right {
  position: absolute;
  right: 0;
  padding: 15px;
}

.left {
  position: absolute;
  left: 0;
  padding: 15px;
}

.block {
  display: block;
}


.item-details {
  padding-top: 30px;
  text-align: left;
  a {
    float: right;
  }
}
.card-header {
  align-items:center; 
  display: flex;
  justify-content: space-between;
  .small .btn {
    vertical-align: middle;
  }
}

.item-card {
  height: 25em;
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  text-align: left;

  .item-cost {
    float: right;
    padding-right: 5px;
  }

  em {
    margin-bottom: 10px;
  }
}


.push {
  height: 3em
}

.table td, .table th {
  text-align: center;
  vertical-align: middle;
  padding: .75rem 2rem;
}

.addresses {
  label {
    float: left;
    padding-left: 5px;
  }
}
.billing-address {
  padding-bottom: 15px;
}

.form-group{
  padding: 0 15px;
}

.boolean{
  text-align: left;
}
 
.form-title {
  margin: 25px 0;
  padding: 0 15px;
  text-align: left;
}

.checkbox {
  text-align: left;
  input {
    margin-left: 10px;
  }
}

.flabel {
  text-align: left;
  display: block;
}
