@import "bootstrap/scss/bootstrap";

.inventory-masthead {
  position: fixed;
  width: 100%;
  z-index: 9999;
  margin-bottom: 1rem;
  border-bottom: .5px solid;
  background-color: #BE8073;
  font-family: 'Playfair Display', serif;
  -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
          box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}

/* Nav links */

.hide {
  display: none !important;
}

.navbar-title {
  position: fixed;
  font-size: 3em;
}

.nav-link {
  position: relative;
  font-weight: 500;
  color: #fff;

  .active {
    background-color: #dc3545;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: .6em;
    vertical-align:middle;
    margin-left:-10px;
    margin-bottom: -20px;
  }
}

.dropdown-menu {
  background-color: #BE8073;

  .dropdown-item {
    text-align: center;
  }
  .dropdown-item:hover,
  .dropdown-item:focus {
    color: #0056b3;
    background-color: transparent;
  }
}

.pag-container {
  margin: auto;
}

.scroller {
  background-color: transparent;
  width:  600px;
  height: 400px;
  text-align: center;
  margin: 0 auto;
  float: none;

  .slick-list {
    margin: 0 auto;
    width: 90%;

    .show-item {
      margin: auto;
    }

  }

  .slick-prev, .slick-next {
    z-index: 100;
    position: absolute;
  }

  .slick-prev {
    font-size: 30px;
    left: 10px;
  }
  
  .slick-next {
    font-size: 30px;
    right: -23px;
  }

  .show-image {
    padding: 30px;
    width: auto;
    height: 400px;
    min-width: 0px;
    display: block;
    margin: auto;
    text-align: center;
  }
}

.thumb-image {
  width:  350px;
  height: 200px;
  object-fit: cover;
}

.cart-image {
  width: 200px;
  height: 115px;
}

.cart-card {
  width: 300px;

  .title {
    color: #fff;
  }
}


.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 45rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card > img {
  margin-bottom: .75rem;
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;

  .container {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

footer p {
  margin-bottom: .25rem;
}

.inventory-container {
  padding-top: 7em;
  margin: 0 auto 0 auto;

  table {
    margin: 0 auto 1em auto;
    border-bottom: 1px solid #dee2e6;
  }

  .inventory-totals {
    display: block;
    clear: right;
    padding: 3px;
  }
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}


.item-details {
  padding-top: 30px;
  a {
    float: right;
  }
}
.card-header {
  align-items:center; 
  display: flex;
  justify-content: space-between;
  .small .btn {
    vertical-align: middle;
  }
}

.item-card {
  height: 25em;
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;

  .item-cost {
    float: right;
    padding-right: 5px;
  }

  em {
    margin-bottom: 10px;
  }
}


.push {
  height: 3em
}

.table td, .table th {
  text-align: center;
  vertical-align: middle;
  padding: .75rem 2rem;
}

.form {
  margin-left: 5rem;
  justify-content: center;
}

.form-control {
  padding: 0 25px;
}

.form-group{
  margin: auto;

  .checkbox {
    margin-top: 25px;
  }
}

.form-title {
  margin: 25px 0;
}
